.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    padding: spacing(4) 0;
    border-bottom: 1px solid $oc-gray-2;

    &:last-child {
      border-bottom: none;
    }
  }
}

.post-card-category {
  font-weight: bold;
  line-height: 1;
  color: $brand-color;
}

.post-card-title {
  margin-top: spacing(2);
  margin-bottom: spacing(1);

  a {
    @include reset-link;
    transition: all 0.2s ease-in-out;

    &:hover {
      color: scale-color($text-color, $alpha: -40%);
    }
  }
}

.post-card-date {
  font-size: $small-font-size;
  line-height: 1;
  color: $oc-gray-6;
}

.post-card-summary {
  margin-top: spacing(2);
  color: $oc-gray-6;
}
